flows (2).json
[{"id":"dea64d08.d7914","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"817f5d0e.862a6","type":"function","z":"dea64d08.d7914","name":"PreToken","func":"global.set(\"ag\",msg.payload.ag)\nglobal.set(\"sx\",msg.payload.sx)\nglobal.set(\"bm\",msg.payload.bm)\nglobal.set(\"ch\",msg.payload.ch)\nglobal.set(\"sm\",msg.payload.sm)\nglobal.set(\"rg\",msg.payload.rg)\nvar apikey=\"MRL-zkJUHntiAv2Szn6A1vB4dyh8UnP5pJoR0A0zhwY3\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":300,"wires":[["47c3a2f2.13f73c"]]},{"id":"47c3a2f2.13f73c","type":"http request","z":"dea64d08.d7914","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":400,"wires":[["7f43f2bb.b054fc"]]},{"id":"65178d47.f10c54","type":"inject","z":"dea64d08.d7914","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":200,"wires":[["817f5d0e.862a6"]]},{"id":"7f43f2bb.b054fc","type":"function","z":"dea64d08.d7914","name":"Pre Prediction","func":"var ag = global.get('ag')\nvar sx = global.get('sx')\nvar bm = global.get('bm')\nvar ch = global.get('ch')\nvar sm = global.get('sm')\nvar rg = global.get('rg')\nvar token=msg.payload.access_token\nvar instance_id=\"ae73a5e4-b6ae-485e-8276-0e866e4cc165\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\":[{\"fields\": [\"age\", \"sex\", \"bmi\", \"children\", \"smoker\", \"region\"], \"values\": [[ag,sx,bm,ch,sm,rg]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":300,"wires":[["a3cce373.8d569"]]},{"id":"a3cce373.8d569","type":"http request","z":"dea64d08.d7914","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v4/deployments/777d5056-a28d-4270-ade3-224d1af4ff21/predictions","tls":"","persist":false,"proxy":"","authType":"","x":870,"y":160,"wires":[["303397da.499d58"]]},{"id":"303397da.499d58","type":"function","z":"dea64d08.d7914","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":220,"wires":[["9b97e011.3622b","daedad8b.1edea"]]},{"id":"9b97e011.3622b","type":"ui_text","z":"dea64d08.d7914","group":"c3194919.21e1b8","order":1,"width":0,"height":0,"name":"","label":"charges","format":"{{msg.payload}}","layout":"row-spread","x":1360,"y":300,"wires":[]},{"id":"8406a45f.c10618","type":"ui_form","z":"dea64d08.d7914","name":"","label":"","group":"c3194919.21e1b8","order":0,"width":0,"height":0,"options":[{"label":"age","value":"ag","type":"number","required":true,"rows":null},{"label":"sex","value":"sx","type":"text","required":true,"rows":null},{"label":"bmi","value":"bm","type":"number","required":true,"rows":null},{"label":"children","value":"ch","type":"number","required":true,"rows":null},{"label":"smoker","value":"sm","type":"text","required":true,"rows":null},{"label":"region","value":"rg","type":"text","required":true,"rows":null}],"formValue":{"ag":"","sx":"","bm":"","ch":"","sm":"","rg":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":100,"y":460,"wires":[["817f5d0e.862a6"]]},{"id":"daedad8b.1edea","type":"debug","z":"dea64d08.d7914","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1170,"y":60,"wires":[]},{"id":"c3194919.21e1b8","type":"ui_group","z":"","name":"Health insurance cost prediction","tab":"91cd5e00.bc8a3","order":1,"disp":true,"width":"8","collapse":false},{"id":"91cd5e00.bc8a3","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":3,"disabled":false,"hidden":false}]